<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue.js</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <script src="https://v2.vuejs.org/js/vue.js"></script>
    <!-- <script src="https://v2.vuejs.org/js/vue.min.js"></script> -->
</head>
<body>
    
    <div id="placar">
        <div>
            {{ n }}
        </div>
        <!-- <span v-if="n > 5">Parabéns, vc passou de 5 pontos</span> -->
        <span v-if="exibir">Parabéns, vc passou de 5 pontos</span>
    </div>  

    <script src="03_condicionais_loop.js"></script>
</body>
</html>