<!DOCTYPE html>
<html lang="en">
<head>
    <title>Usado para testar a aula da vez</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://v2.vuejs.org/js/vue.js"></script>
</head>
<body>
<pre>


<hr>
<strong>#28: Exercício: Filtrando resultados de array</strong>

    <div id="v_28">

        <input v-model="busca">

        <ul>
            <li v-for="item in nomes">{{ item }}</li>
        </ul>
        
    </div>
    <script>
        let v_28 = new Vue({
            el:'#v_28',
            data:{
                busca:'',
                nomes:['joaquim', 'gabriel', 'kaiane', 'juliana', 'Natalia', 'gustavo']
            },
            computed:{
                nomesFiltrados:function(){

                    return this.nomes.filter(function(nome){
                        if(this.busca != ''){
                            // return false;
                            if(nome.indexOf(this.busca) > -1){
                                return true;
                            } else {
                                return false;
                            }
                        } else {
                            return true;
                        }
                    }, this);

                }
            }
        });
    </script>


</pre>

</body>
</html>